*{
	margin: 0;
	padding: 0;
}

*:focus {outline:0;}

body {
	font-family: -apple-system, Sans-Serif;
	font-size: 11px;
	color: #fff;
	background-color: #00114e;
}


@import '_vendor/fontawesome.min.scss';

@import '_default/vars.scss';
@import '_default/fonts.scss';
@import '_default/mixins.scss';
@import '_default/inview-transitions.scss';
@import '_default/buttons.scss';
@import '_default/quotes.scss';
@import '_default/texts.scss';
@import '_default/sections.scss';
@import '_default/loader.scss';
@import '_default/head-nav.scss';
@import '_default/mobile-nav.scss';
@import '_default/footer.scss';

@import '_views/hero.scss';
@import '_views/about.scss';
@import '_views/podcast.scss';
@import '_views/book.scss';
@import '_views/founder.scss';
@import '_views/contact.scss';

@import '_default/responsive.scss';


#tester{
	z-index: 1000000000;
	position: absolute;
	background-color: rgba(255,0,0,.3);
	margin: auto;

	top: 0; left: 0;
	width: 247px;
	height: 408px;
}

#tester2{
	z-index: 1000000000;
	position: absolute;
	background-color: aqua;
	opacity: 0.6;

	width: 100%;
	height: 97px;
	top: 577px;
}