.mb-btn{
	position: relative;
	background-color: $main-blue;
	color: #fff;
	border: none;
	padding: 1px 25px;
	margin-top: 15px;
	text-transform: uppercase;
	font-family: $brand-font-regular;
	font-size: 0.8em;
	@include smoothFont();
	cursor: pointer;
	@include transitions(0.4s);
	
	&:after, &:before{
		content: "";
		position: absolute;
		left: 0; right: 0;
		@include transitions(0.4s);
	}
	&:before{
		bottom: 98%;
		border-bottom: 15px solid $main-blue;
		border-right: 15px solid transparent;
	}
	&:after{
		top: 98%;
		border-top: 15px solid $main-blue;
		border-left: 15px solid transparent;
	}


	&:hover{
		@include drawShadow(6px, 18px, 30px, 3.2px, rgba(0, 0, 22, 0.5));

		&:before{
			border-right-width: 0;
		}

		&:after{
			border-left-width: 0;
		}
	}
}