.main-nav-wrapper{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 83.7%;
	height: $header-height;
	text-align: left;
	font-family: $brand-font-regular;

	.nav-logo{
		position: relative;
		display: inline-block;
		float: left;
		height: 100%;
		margin-left: 80px;
		margin-right: 55px;
		padding: 38.5px 0;
		@include boxSizeFit();
	}

	.inner-nav-wrapper{
		position: relative;
		display: inline-block;
		float: left;

		.list{
			list-style: none;
			position: relative;
			display: table;
			height: $header-height;
			text-transform: uppercase;
			font-size: 0.65em;
			@include smoothFont();

			.single-option{
				position: relative;
				display: table-cell;
				vertical-align: middle;

				a{
					padding: 0 25px;
				}

				&.active{
					a:before{
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						margin: auto;
						top: 0; bottom: 1px; left: 8px;
						border-width: 6px;
						border-style: solid;
						border-left-color: $main-blue;
						border-right-color: transparent;
						border-top-color: transparent;
						border-bottom-color: transparent;
					}
				}
			}
		}

		a{
			display: block;
			text-decoration: none;
			color: #fff;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}