#loaderWrapper{
	z-index: 100000000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	overflow: hidden;
	background-color: #fff;
	opacity: 1;

	@include fadeOut(.6s);

	img, svg{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		animation-name: loading_flash;
    	animation-duration: 0.7s;
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
	}

	svg{
		width: 40px;
	}

	&.loaded{
		opacity: 0;
		z-index: -1;

		img, svg{
			animation: none;
		}
	}
}

/* The animation code */
@keyframes loading_flash {
    from {@include opacity(1);}
    to {@include opacity(0);}
}

.intro-hero{
	@include opacity(0);
}