@mixin smoothFont(){
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin boxSizeFit(){
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@mixin dropShadow(){
	-webkit-box-shadow: 0 2px 3px 2px rgba(52,52,52,0.15);
	-moz-box-shadow: 0 2px 3px 2px rgba(52,52,52,0.15);
	box-shadow: 0 2px 3px 2px rgba(52,52,52,0.15);
}

@mixin drawShadow($xMove, $yMove, $distance, $blur, $color){
	-webkit-box-shadow: $xMove $yMove $distance $blur $color;
	-moz-box-shadow: $xMove $yMove $distance $blur $color;
	box-shadow: $xMove $yMove $distance $blur $color;
}

@mixin displayLeft(){
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}

@mixin translate($Xmove, $Ymove){
    -webkit-transform: translate($Xmove, $Ymove);
       -moz-transform: translate($Xmove, $Ymove);
        -ms-transform: translate($Xmove, $Ymove);
    	 -o-transform: translate($Xmove, $Ymove);
    		transform: translate($Xmove, $Ymove);
}

@mixin scale($ratio){
    -webkit-transform: scale($ratio);
       -moz-transform: scale($ratio);
        -ms-transform: scale($ratio);
    	 -o-transform: scale($ratio);
    		transform: scale($ratio);
}

@mixin rotate($degs){
    -webkit-transform: rotate($degs);
       -moz-transform: rotate($degs);
        -ms-transform: rotate($degs);
    	 -o-transform: rotate($degs);
    		transform: rotate($degs);
}

@mixin transformFrom($xOrigin, $yOrigin){
    -webkit-transform-origin: $xOrigin $yOrigin;
       -moz-transform-origin: $xOrigin $yOrigin;
        -ms-transform-origin: $xOrigin $yOrigin;
    	 -o-transform-origin: $xOrigin $yOrigin;
    		transform-origin: $xOrigin $yOrigin;
}

@mixin transitions($timing){
	-webkit-transition: all $timing cubic-bezier(.77,0,0,1);
	   -moz-transition: all $timing cubic-bezier(.77,0,0,1);
	    -ms-transition: all $timing cubic-bezier(.77,0,0,1);
	     -o-transition: all $timing cubic-bezier(.77,0,0,1);
	        transition: all $timing cubic-bezier(.77,0,0,1);
}

@mixin opacity($val){
	opacity: $val;
	filter: alpha(opacity=($val * 100));
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(($val * 100))';
}

@mixin grayGradient(){
	background: rgb(245,247,252); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(245,247,252) 0%, rgb(255,255,255) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(245,247,252) 0%,rgb(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(245,247,252) 0%,rgb(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}