#mobile-nav-wrapper{
	z-index: 100000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 24px 30px;
	@include boxSizeFit;
	background-color: #fff;

	@include opacity(0);
	pointer-events: none;
	@include transitionsDelayed(1s, .8s);

	&.open{
		@include transitions(1.3s);
		@include opacity(1);
		pointer-events: initial;
	}

	.mobile-menu-intro{
		display: block;
		@include transitionsDelayed(.3s, 0s);
		@include opacity(0);
		@include translate(0, -15px);

		&.show{
			@include transitionsDelayed(.6s, .7s);
			@include opacity(1);
			@include translate(0, 0);
		}
	}

	.inner-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: scroll;

		.bottom-box{
			position: absolute;
			width: 100%;
			bottom: 12px;
			text-align: center;

			.sections-list{
				position: relative;
				// margin-bottom: 80px;
				margin-bottom: 12vh;
				text-transform: uppercase;
				font-size: 20px;
				letter-spacing: -.025em;
				font-family: $brand-font-regular;
				@include smoothFont;

				li:not(:last-child){
					// margin-bottom: 30px;
					margin-bottom: 4.6vh;
				}

				a{
					text-decoration: none;
					color: $main-blue;
				}
			}

			.rrss-list{
				position: relative;
				display: inline-block;
				margin: 0 auto;

				li{
					position: relative;
					display: inline-block;
					font-size: 23px;
					margin: 0 15px;

					#fb-i{
						font-size: 0.88em;
						@include translate(0,-1px);
					}
					#in-i{
						@include translate(0,-1px);
					}
				}

				a{
					color: $body-color;
				}
			}

			#mobile-subscribe-bttn{
				position: relative;
				display: block;
				// margin-top: 65px;
				margin-top: 10.5vh;

				.brand-btn{
					width: 100%;
					margin-top: 11px;
				}
			}
		}
	}
}