.quote-p{
	&:before, &:after{
		content: "";
		position: absolute;
		top: -4px;
		width: 0;
		height: 10px;
		border-left: 8px solid $main-blue;
		border-bottom: 5px solid transparent;
		border-right: 0 solid transparent;
	}
	&:before{
		left: 10px;
	}
	&:after{
		left: 20px;
	}
}