// Tablets
// Previously: (max-width: 1024px)
// *New Probably: (min-width: 768px) and (max-width: 1024px)
@media screen and (min-width: 768px) {
	body{
		font-size: 13px;
	}

	// Sections general style: "_default/sections.scss"
		.single-section{
			padding-top: 75px;

			&.full-height{
				height: 100%;
				min-height: 300px;
				max-height: 500px;
			}
		}

	// Header nav: "_default/head-nav.scss"
		.main-nav-wrapper {
			height: 100px;

			.nav-logo{
				margin-left: 50px;
				margin-right: 30px;
				padding: 33px 0;
			}

			.inner-nav-wrapper {
				.list {
					height: 100px;

					.single-option{
						font-size: 0.8em;

						a{
							padding: 0 25px;
						}

						&.active{
							a:before{
								left: 8px;
								border-width: 6px;
							}
						}
					}
				}
			}

			.header-nav-cta{
				margin-top: 23px;
				margin-right: 50px;
			}
		}

	// Buttons general style: "_default/buttons.scss"
		.brand-btn{
			padding: 0 20px;
			margin-top: 20px;

			&.md-btn{
				font-size: 0.8em;

				&:before{
					border-bottom-width: 14px;
					border-right-width: 14px;
				}
				&:after{
					border-top-width: 14px;
					border-left-width: 14px;
				}
			}

			&.sm-btn{
				min-width: 70px;

				&:before{
					border-bottom-width: 10px;
					border-right-width: 10px;
				}

				&:after{
					border-top-width: 10px;
					border-left-width: 10px;
				}
			}
		}

	// Texts general style: "_default/texts.scss"
		.h1-hero{
			font-size: 3.9vw;
			line-height: 3.92vw;
		}

		.intro-title{
			margin-bottom: 25px;
		}

		.intro-description{
			margin-bottom: 60px;
		}


	// Hero section: "_views/hero.scss"
		#section-01{
			height: 100%;
		}

		.hero-nav{
			width: 16.2%;
			height: 100%;
			min-height: 300px;
			max-height: 500px;
			top: 0;
			right: 0;

			.media-triggers {
				.media-button {
					.media-label {
						img{
							display: initial;
							width: 32%;
							margin-bottom: 25px;
						}

						h2{
							font-size: 1.1vw;						
						}
					}
				}
			}
		}

		.triangles-canvas {
			.inner-triangle{
				&.bg-triangle{
					bottom: -370%;
				}
				&.top-triangle{
					top: 36%;
					left: 46%;
				}
				&.bottom-triangle{
					bottom: -225%;
					left: 62%;
				}
			}
		}

		.shifting-hero-content {
			width: 83.7%;

			&.media-display{
				.hero-left-col{					
					width: 42.2%;

					.triangle-bg{
						width: 137%;
					}
				}

				.hero-center-col{
					width: 57.8%;
					top: 35px;
				}
			}

			.hero-left-col{
				position: relative;
				float: left;
				width: 36.5%;
				height: 100%;
				top: 35px;
				bottom: initial;

				.triangle-bg{
					width: 93%;
					top: 8%;
					bottom: initial;
				}

				.hero-img{
					width: 100%;
					height: 100%;
					top: 0;
					bottom: initial;

					.hero-logo{
						position: relative;
						width: 55.4%;
						left: 8.1%;
						top: 23.5vw;
						bottom: initial;
					}

					.hero-mic{
						width: 72.2%;
						top: -4%;
					}
					.hero-book{
						width: 112%;
						top: unset;
					}
					.hero-tv{
						width: 95.13%;
						top: unset;
					}
				}
			}

			.hero-center-col{
				position: relative;
				float: left;
				width: 63.5%;
				height: 100%;
				text-align: left;

				#default-hero-content{
					text-align: left;
				}

				.hero-header {
					margin-top: 5%;
					margin-bottom: 20px;
					text-align: left;

					.hero-highlight{
						&:after{
							height: 8px;
							bottom: 8px;
						}
					}

					&#default-header{
						margin-top: 14%;
					}

					&#book-header{
						margin-top: 5%;
						margin-bottom: 20px;
					}
					&#tv-header{
						margin-top: 10%;
					}
				}

				.hero-channels{
					.channels-list{
						.channel{
							img{
								width: 70%;
							}
						}
					}
				}

				.hero-timer{
					top: 15px;
					width: 90%;

					.timer-cards{
						.single-card{
							width: 19%;
							height: 70px;

							&:before{
								border-bottom-width: 15px;
								border-right-width: 15px;
							}
							&:after{
								border-top-width: 15px;
								border-left-width: 15px;
							}

							.counter{
								font-size: 6.5vw;
								line-height: 80px;
							}

							.card-label{
								bottom: -40px;
							}
						}

						.dots-box{
							width: 5.4%;
							height: 70px;

							.dot{
								width: 4px;
								height: 4px;
							}

							.upper-dot{
								top: -32px;
							}
							.lower-dot{
								bottom: -32px;
							}
						}
					}

					.timer-cta{
						width: 97%;
						margin-top: 50px;
						font-size: 0.8em;
						text-align: right;
					}
				}
			}
		}

	// About section: "_views/about.scss"
		.what-we-do {
			.intro-description{
				width: 440px;
			}

			.bullets-table{
				width: 650px;

				.bulleted-column{
					&.half-sized{
						width: 50%;

						&:last-child{
							margin-top: 0;
						}
					}

					.column-intro{
						padding-bottom: 20px;

						.column-title{
							left: -5%;
						}
					}

					.custom-bullets-list{
						&.circle-bullets {
							li:before{
								width: 10px;
								height: 10px;
								margin-top: 6px;
							}
						}

						&.triangle-bullets {
							li:before{
								margin-top: 5px;
								border-left-width: 7px;
								border-top-width: 7px;
								border-bottom-width: 7px;
							}
						}
					}
				}
			}
		}

		.about-break {
			.bg-elements {
				.triangle{
					&.t-01{
						top: 20%;
						left: 60%;
						border-left-width: 45px;
						border-top-width: 32px;
						border-bottom-width: 32px;
					}
					&.t-02{
						top: 0;
						left: 80%;
						border-right-width: 70px;
						border-top-width: 70px;
						border-bottom-width: 70px;
					}
				}

				.mask-triangle{
					width: 400px;
					height: 400px;
					top: 50%;
					right: -2%;
				}
			}

			.phrase{
				width: 680px;
				padding: 80px 0;
			}
		}

		.essential-values {
			padding: 60px 0;

			.values-inner-wrapper{
				height: 260px;

				&:last-child{
					margin-top: 60px;
				}

				.values-list{
					font-size: unset;
				}
			}

			#core-wrapper, #great-wrapper {
				.values-list{
					right: auto;
				}
			}

			#core-wrapper {
				.values-list{
					left: 50%;
				}
			}

			#great-wrapper {
				.values-list{
					left: 20%;
				}
			}
		}

		.quote-break{
			padding-top: 5px;

			&:before{
				height: 300px;
			}

			.photo-wrapper{
				width: 50%;

				.person-photo{
					width: 320px;
					max-width: unset;
					left: auto;
					float: right;
					right: 30px;

					.triangle-helper{
						width: 80px;
						left: -30px;
						bottom: 55px;
					}
				}
			}

			.quote-wrapper{
				width: 50%;
				max-width: unset;
				left: 0;
				@include translate(0,0);
				float: left;
				text-align: left;

				.paragraph-box{
					width: 320px;
					margin-top: 35px;
					margin-left: 25px;
					margin-bottom: 15px;
					padding: 0;

					&:before, &:after{
						top: 2px;
						height: 10px;
					}
					&:before{
						left: -35px;
					}
					&:after{
						left: -25px;
					}
				}

				.quote-author{
					margin-left: 25px;
					padding: 0;

					&:before{
						width: 30px;
						margin-right: 10px;
						margin-bottom: 4px;
					}
				}
			}
		}

	// Contact section: "_views/contact.scss"
		#section-06{
			padding-top: 60px;
		}

		.subscribe-section {
			.intro-title{
				width: initial;
			}

			.intro-description{
				width: 555px;
			}

			.simple-form {
				padding-top: 10px;

				.subscribe-inputs{
					width: 220px;
					height: 42px;
					display: initial;
					padding: 20px;
				}
				#input-subscribe-name{
					margin-top: initial;
					margin-bottom: initial;
					margin-right: 10px;
				}
				#submit-subscribe{
					top: -4px;
					margin-left: 20px;
				}
			}
		}

		.contact-section{
			padding-top: 80px;
			padding-bottom: 90px;

			.intro-title{
				width: initial;
			}

			.intro-description{
				width: 420px;
				margin-bottom: 30px;
			}

			.form-division{
				margin-bottom: 25px;
			}

			.narrated-form {
				padding-bottom: 15px;

				.narrated-line{
					margin-bottom: 0;

					.narrated-input{
						max-width: initial;
					}
				}
			}
		}


	// Footer section: "_default/footer.scss"
		.footer-links {
			.media-list, .rrss-list, .legals-footer{
				padding-left: 50px;
				padding-right: 50px;
			}

			.media-list{
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				justify-content: space-between;

				padding-top: 23px;
				padding-bottom: 23px;

				.channels-list{
					display: inline-block;
					padding: 0;
				}
			}

			.rrss-list{
				font-size: inherit;
			}

			.legals-footer{
				.legal-text{
					font-size: 0.72em;
					line-height: 1em;
				}

				.brand-copyright{float: left; text-align: left;}
				.studio-copyright{float: right; text-align: right;}
			}
		}
}


// Small desktop screens and laptops
// Previously (max-width: 1400px)
// *New Probably: (min-width: 1025px) and (max-width: 1399.8px)
@media screen and (min-width: 1025px) {
	body{
		font-size: 16px;
	}

	// Sections general style: "_default/sections.scss"
		.single-section{
			padding-top: 125px;

			&.full-height{
				height: 100%;
				min-height: 699px;
				max-height: 1000px;
			}
		}

	// Header nav: "_default/head-nav.scss"
		.main-nav-wrapper {
			.inner-nav-wrapper {
				.list {
					.single-option{
						font-size: 0.65em;
					}
				}
			}
		}

	// Buttons general style: "_default/buttons.scss"
		.brand-btn{
			padding: 0 29px;

			&.md-btn{
				min-width: 140px;

				&:before{
					border-bottom-width: 20px;
					border-right-width: 20px;
				}
				&:after{
					border-top-width: 20px;
					border-left-width: 20px;
				}
			}
		}

	// Texts general style: "_default/texts.scss"
		.intro-title{
			margin-bottom: 35px;
		}

		.intro-description{
			margin-bottom: 80px;
		}

		.legal-text{
			font-size: 0.72em;
		}


	// Hero section: "_views/hero.scss"
		.hero-nav{
			min-height: 699px;
			max-height: 1000px;
		}

		.triangles-canvas {
			.inner-triangle{
				&.bg-triangle{
					bottom: -170%;
					left: 2.3%;
				}
				&.top-triangle{
					top: -44%;
				}
				&.bottom-triangle{
					bottom: -135%;
				}
			}
		}

		.shifting-hero-content {
			&.media-display{
				.hero-center-col{
					top: 0;
				}
			}

			.hero-left-col{
				top: 25px;

				.hero-img{
					.hero-mic{
						top: 0;
					}
				}
			}

			.hero-center-col {
				top: 0;

				.hero-header {
					margin-top: 10%;
					margin-bottom: 45px;

					&#default-header{
						margin-top: 20%;
					}

					&#book-header{
						margin-top: 15%;
						margin-bottom: 45px;
					}

					.hero-highlight{
						&:after{
							height: 23px;
							bottom: 16px;
						}
					}
				}

				.hero-channels{
					.channels-list{
						.channel{
							margin-left: 60px;

							&:first-child{
								margin-left: 0;
							}

							img{
								width: 100%;
							}
						}
					}
				}

				.hero-timer {
					width: 77.8%;
					
					.timer-cards{
						.single-card{
							height: 140px;
							@include drawShadow(-6px, 18px, 20px, 3px, rgba(0, 0, 22, 0.3));

							.counter{
								line-height: 165px;
							}
						}

						.dots-box{
							height: 140px;
						}
					}
				}
			}
		}

	// About section: "_views/about.scss"
		.what-we-do {
			.intro-description{
				width: 470px;
			}

			.bullets-table{
				width: 900px;
				margin-bottom: 100px;

				.bulleted-column{
					.column-intro{
						padding-bottom: 40px;

						.column-icon{
							img{
								width: auto;
							}
						}

						.column-title{
							left: 32px;
						}
					}
				}

				.bulleted-column{ 
					.custom-bullets-list{
						&.circle-bullets {
							li:before{
								margin-top: 7px;
							}
						}
						&.triangle-bullets {
							li:before{
								margin-top: 4px;
							}
						}
					}
				}
			}
		}

		.about-break {
			.bg-elements {
				.triangle{
					&.t-01{
						top: 14%;
						left: 65%;
						border-left-width: 60px;
						border-top-width: 50px;
						border-bottom-width: 50px;
					}
					&.t-02{
						top: -15%;
						left: 85%;
						border-right-width: 100px;
						border-top-width: 90px;
						border-bottom-width: 90px;
					}
				}

				.mask-triangle{
					width: 600px;
					height: 600px;
					top: 60%;
					right: -5%;
				}
			}

			.phrase{
				width: 800px;
				padding: 100px 0;
			}
		}

		.essential-values {
			padding: 100px 0;
			.values-inner-wrapper{
				height: 320px;

				&:last-child{
					margin-top: 75px;
				}
			}

			#great-wrapper{
				.values-list{
					left: 23%;
				}
			}
		}

		.quote-break {
			padding-top: 18px;

			&:before{
				height: 450px;
			}

			.photo-wrapper{
				.person-photo{
					width: 450px;

					img{
						width: 100%;
					}

					.triangle-helper{
						width: 140px;
						left: -50px;
						bottom: 100px;
					}
				}
			}

			.quote-wrapper {
				margin-top: 15px;

				.paragraph-box{
					width: 380px;
					margin-top: 60px;
					margin-left: 50px;
					margin-bottom: 30px;

					&:before, &:after{
						height: 12px;
						border-left-width: 10px;
						border-bottom-width: 6px;
					}
					&:before{
						left: -38px;
					}
				}

				.quote-author{
					margin-left: 50px;

					&:before{
						width: 40px;
						margin-right: 15px;
					}
				}
			}
		}

	// Contact section: "_views/contact.scss"
		.subscribe-section {
			.intro-description{
				width: 685px;
			}

			.simple-form {
				padding-top: 10px;
				padding-bottom: 110px;

				.subscribe-inputs{
					width: 270px;
					height: 56px;
				}

				#input-subscribe-name{
					margin-right: 20px;
				}

				#submit-subscribe{
					top: -4px;
					margin-left: 40px;
				}
			}
		}

		.contact-section{
			padding-top: 120px;
			padding-bottom: 160px;

			.intro-description{
				width: 520px;
				margin-bottom: 50px;
			}

			.form-division{
				margin-bottom: 40px;
			}

			.narrated-form{
				#submit-contact-data{
					margin-top: 60px;
				}
			}
		}


	// Footer section: "_default/footer.scss"
		.footer-links {
			.rrss-list{
				padding-bottom: 18px;
			}
			.legals-footer{
				padding-top: 14px;
				padding-bottom: 14px;
			}
		}

}




// Desktop and beyond
// Previously didn't exist
@media screen and (min-width: 1400px){
	body{
		font-size: 20px;
	}

	// Sections general style: "_default/sections.scss"
		.single-section{
			padding-top: $header-height;
		}

	// Header nav: "_default/head-nav.scss"{}
		.main-nav-wrapper {
			height: $header-height;

			.nav-logo{
				width: auto;
				margin-left: 80px;
				margin-right: 55px;
				padding: 38.5px 0;
			}

			.inner-nav-wrapper{
				.list{
					height: $header-height;
				}
			}

			.header-nav-cta{
				margin-top: 33px;
				margin-right: 80px;
			}
		}

	// Buttons general style: "_default/buttons.scss"
		.brand-btn{
			&.sm-btn{
				min-width: 100px;
			}
		}


	// Hero section: "_views/hero.scss"
		.hero-nav{
			min-height: 699px;
			max-height: 1000px;
		}

		.triangles-canvas {
			.inner-triangle{
				&.bg-triangle{
					top: 0;
					bottom: -10%;
					left: 7.3%;
				}
				&.top-triangle{
					top: -84%;
					left: 26%;
				}
				&.bottom-triangle{
					left: 52%;
					bottom: -85%;
				}
			}
		}

		.shifting-hero-content {
			.hero-center-col{
				top: unset;
				left: unset;

				.hero-header{
					margin-top: 10%;
					margin-bottom: 45px;

					&#default-header{
						margin-top: 20%;
					}
				}

				.hero-channels{
					.hero-label{
						margin-bottom: 20px;
					}

					.channels-list{
						&:last-child{
							margin-top: 20px;
						}

						.channel{
							padding: 0;

							img{
								width: auto;
							}
						}
					}
				}
			}
		}

	// About section: "_views/about.scss"
		.what-we-do {
			.intro-description{
				width: 685px;
			}

			.bullets-table{
				width: 1180px;

				.bulleted-column{
					.column-intro{
						padding-bottom: 40px;

						.column-title{
							left: 32px;
						}
					}

					.custom-bullets-list{
						&.circle-bullets {
							li:before{
								margin-top: 12px;
							}
						}
						&.triangle-bullets {
							li:before{
								margin-top: 7px;
								border-left-width: 10px;
								border-top-width: 10px;
								border-bottom-width: 10px;
							}
						}
					}
				}
			}
		}

		.about-break {
			.bg-elements {
				.triangle{
					&.t-01{
						top: 9%;
					}
					&.t-02{
						top: -25%;
						left: 82%;
					}
				}

				.mask-triangle{
					top: 50%;
					right: 0;
				}
			}

			.phrase{
				width: 1040px;
				padding: 128px 0;
			}
		}

		.essential-values {
			padding: 100px 0;

			.values-inner-wrapper {
				height: 400px;

				&:last-child{
					margin-top: 97px;
				}

				.values-list{
					font-size: 1em;
				}
			}

			#great-wrapper{
				.values-list{
					left: 31%;
				}
			}
		}

		.quote-break {
			&:before{
				height: 640px;
			}

			.photo-wrapper{
				.person-photo{
					width: auto;

					.triangle-helper{
						width: auto;
						left: -100px;
						bottom: 70px;
					}

					img{
						width: auto;
					}
				}
			}

			.quote-wrapper{
				margin-top: 40px;

				.paragraph-box{
					width: 550px;
					margin-top: 80px;
					margin-left: 80px;
					box-sizing: content-box;
					
					&:before, &:after{
						height: 17px;
						border-left-width: 14px;
						border-bottom-width: 8px;
					}
					&:before{
						left: -52px;
					}
					&:after{
						left: -35px;
					}
				}

				.quote-author{
					width: auto;
					margin-left: 80px;
					margin-right: auto;
					box-sizing: content-box;

					&:before{
						width: 50px;
						margin-right: 25px;
					}
				}
			}
		}

	// Contact section: "_views/contact.scss"
		#section-06{
			padding-top: 80px;
		}

		.subscribe-section {
			.intro-title{
				width: auto;
			}

			.intro-description{
				width: 890px;
			}

			.simple-form {
				padding-top: 40px;
				padding-bottom: 200px;

				.subscribe-inputs{
					display: initial;
					margin: initial;
					width: 380px;
					height: 60px;
					padding: 20px;
				}

				#input-subscribe-name{
					margin-top: initial;
					margin-bottom: initial;
					margin-right: 20px;
				}
				#submit-subscribe{
					top: -5px;
					margin-left: 40px;
				}
			}
		}

		.contact-section {
			padding-top: 120px;
			padding-bottom: 160px;

			.intro-title{
				width: auto;
			}

			.intro-description{
				width: 650px;
			}

			.narrated-form{
				width: initial;
				margin: initial;

				.narrated-line{
					margin-bottom: 0;

					input{
						max-width: initial;
					}
					#contact-email{
						max-width: initial;
					}

					textarea{
						max-width: initial;
					}
				}
			}
		}


	// Footer section: "_default/footer.scss"
		.footer-links {
			.media-list, .rrss-list, .legals-footer{
				width: 1040px;
				padding-left: 0;
				padding-right: 0;
			}

			
			.media-list{
				padding-top: 32px;
				padding-bottom: 32px;
			}

			.rrss-list{
				padding-bottom: 23px;
			}

			.legals-footer{
				padding-top: 18px;
				padding-bottom: 18px;

				.legal-text{
					font-size: 0.635em;
				}
			}
		}
}








