.h1-hero{
	font-family: $brand-font-regular;
	font-size: 1.6em;
	line-height: 1em;
	letter-spacing: -0.04em;
	font-weight: lighter;
	@include smoothFont();
}

.h1{
	font-family: $brand-font-regular;
	font-size: 3.75em;
	line-height: 0.92em;
	letter-spacing: -0.04em;
	font-weight: lighter;
	@include smoothFont();
}

.h2{
	font-family: $brand-font-regular;
	font-size: 2.72em;
	letter-spacing: -0.035em;
	font-weight: lighter;
	@include smoothFont();
}

.h3{
	font-family: $brand-font-bold;
	font-size: 1.85em;
	line-height: 1.1em;
	letter-spacing: -0.02em;
	font-weight: lighter;
	@include smoothFont();
}

.h4{
	font-family: $brand-font-regular;
	font-size: 1.5em;
	letter-spacing: -0.02em;
	font-weight: lighter;
	@include smoothFont();
}

.intro-title{
	position: relative;
	text-align: center;
	margin: 0 auto;
	// margin-bottom: 35px;
	margin-bottom: 25px;
}

.intro-description{
	position: relative;
	text-align: center;
	margin: 0 auto;
	// margin-bottom: 80px;
	margin-bottom: 60px;
}

.demi-title{
	font-family: $brand-font-bold;
	font-size: 1.3em;
	letter-spacing: -0.03em;
	@include smoothFont();
	font-weight: lighter;
}

.channels-list{
	font-family: $brand-font-bold;
	font-size: 0.8em;
	@include smoothFont();
}

.legal-text{
	font-family: $author-font;
	font-size: 0.9em;
	line-height: 1.9em;
	@include smoothFont();
}