// Brand fonts
$brand-font-bold: 'Moderat-Bold';
$brand-font-regular: 'Moderat-Regular';
$title-font-light: 'Titling Gothic';
$author-font: 'Apercu';

// Brand colours
$main-blue: #2f70f4;
$main-blue-hover: #3c7cff;
$mic-bg: #2e6ceb;
$book-bg: #1d5ad5;
$tv-bg: #0f49be;
$timer-cards-bg: #000c39;
$body-color: #7d8eaa;
$dark-titles: #00114e;
$circle-bullet-color: #34abff;
$light-blue-brand: #a6c3ff;

$main-blue-op3: rgba(47, 112, 244, 0.3);

// Custom sizes
$header-height: 125px;

// Titles colors
$main-titles-color: #00145a;