// Brand fonts
$brand-font-bold: 'Moderat-Bold';
$brand-font-regular: 'Moderat-Regular';

// $header-height: 48px;
$header-height: 125px;

// Brand colours
$main-blue: #2f70f4;
$mic-bg: #2e6ceb;
$book-bg: #1d5ad5;
$tv-bg: #0f49be;

$main-blue-op3: rgba(47, 112, 244, 0.3);