.founder-name{
	padding: 0 30px;
	color: $dark-titles;
}

.bio-info{
	position: relative;
	width: 100%;
	padding-top: 5px;
	overflow: hidden;

	.photo-wrapper{
		position: relative;
		display: inline-block;
		float: left;
		width: 100%;

		.person-photo{
			position: relative;
			width: 100%;
			max-width: 390px;
			left: 0;
			margin: 0 auto;
			padding: 0 13px;
			@include boxSizeFit();

			img{
				display: block;
				margin: 0 auto;
				width: 100%;
			}

			.triangle-helper{
				width: 105px;
				left: -28px;
				bottom: 48px;
			}
		}
		
		.triangle-helper{
			position: absolute;
			z-index: 1;
			bottom: 70px;
			left: -100px;
		}
	}

	.description-wrapper{
		position: relative;
		display: inline-block;
		float: none;
		width: 100%;
		max-width: 390px;
		left: 50%;
		@include translate(-50%,0);
		margin-top: 15px;

		.paragraph-box{
			position: relative;
			display: block;
			width: 100%;
			margin-top: 15px;
			margin-bottom: 35px;
			margin-left: 0;
			margin-right: 0;
			padding: 0 30px;
			@include boxSizeFit();
			color: $body-color;
			font-family: $brand-font-regular;
		}

		.quote-author{
			position: relative;
			width: 100%;
			display: block;
			margin-left: 0;
			margin-right: 0;
			padding: 0 40px;
			@include boxSizeFit();
			color: $main-blue;
			font-family: $author-font;
			font-size: 1.15em;
			font-weight: lighter;

			&:before{
				content: "";
				position: relative;
				display: inline-block;
				width: 10px;
				height: 1px;
				margin-right: 5px;
				margin-bottom: 6px;
				background-color: $main-blue;
			}
		}
	}

	.card-quote-wrapper{
		position: relative;
		width: 100%;
		@include boxSizeFit();
		padding: 0 30px;
		margin: 36px 0;
		font-family: $brand-font-regular;
		@include smoothFont();

		.card-quote{
			position: relative;
			width: 100%;
			padding: 24px 0;
	
			&:before, &:after{
				content: "";
				position: absolute;
				left: 0; right: 0;
			}
			&:before{
				bottom: 100%;
				border-right-color: transparent;
				border-bottom-style: solid;
				border-right-style: solid;
	
				border-bottom-width: 36px;
				border-right-width: 36px;
			}
			&:after{
				top: 100%;
				border-left-color: transparent;
				border-top-style: solid;
				border-left-style: solid;
				border-top-width: 36px;
				border-left-width: 36px;
			}
	
			&--blue{
				color: #fff;
				background-color: $main-blue;

				&:before{border-bottom-color: $main-blue;}
				&:after{border-top-color: $main-blue;}

				.quote-p{
					&:before, &:after{
						border-left-color: $dark-titles;
					}
				}
			}
		}
	}
}









#div-tester{
	position: relative;
	width: 100%;
	padding: 50px 0;
	background-color: #999;
	overflow: hidden;
}

.div-1,.div-2,.div-3,.div-4{
	position: relative;
	height: 100px;
	background-color: #aaa;
	border: 1px solid red;
	box-sizing: border-box;

	display: inline-block;
	float: left;
}

.div-1{width: 20%; height: 200px;}
.div-2{width: 80%;}
.div-3{width: 60%;}
.div-4{width: 60%;}