#section-01{
	overflow: hidden;
}

.hero-nav{
	z-index: 10000;
	position: absolute;
	top: 0;
	right: 0;
	width: 16.2%;
	height: 100%;
	min-height: 699px;
	max-height: 1000px;

	.media-triggers{
		list-style: none;
		position: relative;
		height: 100%;

		.media-button{
			position: relative;
			width: 100%;
			height: 33.334%;
			float: right;
			display: table;
			vertical-align: middle;
			cursor: pointer;

			text-align: center;
			text-transform: uppercase;

			@include transitions(0.7s);

			&:hover{
				@include drawShadow(0px, 22px, 36.8px, 3.2px, rgba(0, 0, 22, 0.22));
				z-index: 10;
				width: 105%;
			}

			.media-label{
				position: relative;
				overflow: hidden;
				display: table-cell;
				vertical-align: middle;

				img{
					width: 32%;
					margin-bottom: 25px;
				}

				h2{
					// font-size: 1.08em;
					font-size: 1.1vw;
					letter-spacing: -0.8px;
					font-family: $brand-font-bold;
					font-weight: lighter;
					@include smoothFont();
				}
			}
		}

		#podcast-trigger{
			background-color: $mic-bg;
		}
		#book-trigger{
			background-color: $book-bg;
		}
		#tv-trigger{
			background-color: $tv-bg;
		}
	}
}

.triangles-canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #00114e;
	overflow: hidden;

	.inner-triangle{
		position: absolute;
		margin: auto;

		&.bg-triangle{
			left: 7.3%;
			top: 0;
			bottom: -10%;
			background-image: url(/img/hero_bg/bg_triangle.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 3097px;
		}
		&.top-triangle{
			top: -84%;
			bottom: 0;
			left: 26%;
			background-image: url(/img/hero_bg/top_triangle.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 24.47%;
			height: 759px;
		}
		&.bottom-triangle{
			left: 52%;
			top: 0;
			bottom: -85%;
			background-image: url(/img/hero_bg/bottom_triangle.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 39%;
			height: 1210px;
		}
	}
}

.shifting-hero-content{
	position: relative;
	float: left;
	width: 83.7%;
	height: 100%;

	&.media-display{
		.hero-left-col{
			width: 42.2%;

			.triangle-bg{
				width: 137%;
				top: -8%;
				bottom: auto;
			}
		}

		.hero-center-col{
			width: 57.8%;

			#default-header{
				@include opacity(0);
			}
			#default-hero-subscribe{
				@include opacity(0);
			}
		}
	}

	.hero-left-col{
		position: relative;
		float: left;
		width: 36.5%;
		height: 100%;
		top: 25px;
		@include transitions(1s);

		.triangle-bg{
			position: absolute;
			width: 93%;
			margin: auto;
			top: 8%;
			@include transitions(1s);
			// @include translate(0, 19%);

			// width: 0;
			// height: 0;
			// top: 35px;
			// border-left: 21px solid $main-blue;
			// border-top: 17px solid transparent;
			// border-bottom: 17px solid transparent;

			// @include scale(45);
		}

		.hero-img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			@include transitions(1s);

			.hero-logo{
				position: relative;
				width: 55.4%;
				left: 8.1%;
				top: 23.5vw;
			}

			.hero-mic, .hero-book, .hero-tv{
				position: absolute;
				left: 0;
				@include opacity(0);
			}
			.hero-mic{
				width: 72.2%;
			}
			.hero-book{
				width: 112%;
			}
			.hero-tv{
				width: 95.13%;
			}
		}
	}

	.hero-center-col{
		position: relative;
		float: left;
		width: 63.5%;
		height: 100%;
		@include transitions(1s);

		.hero-header{
			position: relative;
			margin-top: 10%;
			margin-bottom: 45px;
			text-align: left;

			.hero-highlight{
				position: relative;
				display: inline-block;
				// line-height: 0.3em;
				margin-bottom: -20px;
				color: $main-blue;

				&:after{
					content: "";
					position: relative;
					display: block;
					width: 103%;
					height: 23px;
					left: -1%;
					bottom: 16px;
					background-color: $main-blue-op3;
				}
			}

			&#default-header{
				margin-top: 20%;
			}

			&#book-header{
				margin-top: 15%;
			}
			&#tv-header{
				// margin-top: 16.5%;
				margin-top: 10%;
			}
		}

		#podcast-hero-content, #book-hero-content, #tv-hero-content{
			@include opacity(0);
			display: none;
		}

		.hero-channels{
			position: relative;

			.hero-label{
				font-family: $brand-font-regular;
				@include smoothFont();
				font-weight: lighter;
				text-transform: uppercase;
				font-size: 0.8em;
				margin-bottom: 20px;
			}

			.channels-list{
				position: relative;
				list-style: none;

				&:last-child{
					margin-top: 20px;
				}

				.channel{
					position: relative;
					display: inline-block;
					margin-left: 60px;

					&:first-child{
						margin-left: 0;
					}
				}
			}
		}

		.hero-timer{
			position: relative;
			width: 77.8%;
			top: 30px;

			.timer-cards{
				list-style: none;

				li{
					position: relative;
					display: inline-block;
				}

				.single-card{
					width: 19%;
					height: 140px;
					text-align: center;
					background-color: $timer-cards-bg;
					@include drawShadow(-6px, 18px, 20px, 3px, rgba(0, 0, 22, 0.3));

					&:before, &:after{
						content: "";
						position: absolute;
						left: 0; right: 0;
					}
					&:before{
						bottom: 99.5%;
						border-bottom: 15px solid $timer-cards-bg;
						border-right: 15px solid transparent;
					}
					&:after{
						top: 99.5%;
						border-top: 15px solid $timer-cards-bg;
						border-left: 15px solid transparent;
					}

					.counter{
						font-family: $title-font-light;
						@include smoothFont();
						font-size: 6.5vw;
						font-weight: lighter;
						line-height: 165px;
						position: absolute;
						margin: auto;
						left: 0; right: 0;
					}
					.card-label{
						font-family: $brand-font-regular;
						@include smoothFont();
						font-size: 0.6em;
						position: absolute;
						margin: auto;
						left: 0; right: 0;
						bottom: -40px;
						color: $main-blue;
					}
				}

				.dots-box{
					width: 5.4%;
					height: 140px;

					.dot{
						position: absolute;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						margin: auto;
						top: 0; bottom: 0;
						left: 0; right: 0;
						background-color: #fff;
					}
					.upper-dot{
						top: -32px;
					}
					.lower-dot{
						bottom: -32px;
					}
				}
			}

			.timer-cta{
				position: relative;
				width: 97%;
				margin-top: 50px;
				@include smoothFont();
				font-family: $brand-font-regular;
				font-size: 0.8em;
				text-align: right;
				text-transform: uppercase;
			}
		}
	}
}